<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Editando usuario'}) %>
<body>
    
    <%- include('partials/headerNavbar') %>
    
    <main class="cuerpo">
        <form action="/users//edit/<%= userData.id %>?_method=PUT" method="post" enctype="multipart/form-data" class="cuerpo-registro">
            
            <div class="elemento-formulario">
                <label for="name">Nombre y apellido</label>
                <input type="text" name="name" id="name" placeholder="Cosme Fulanito" class="campo-formulario" required minlength="3" maxlength="20" value="<%= userData.name %>">              
            </div>

            <div class="elemento-formulario">
                <label for="user">Nombre de usuari@</label>
                <input type="text" name="user" id="user" placeholder="IronMan69"class="campo-formulario" required minlength="3" maxlength="15" value="<%= userData.user %>">                
            </div>
            
            <div class="elemento-formulario">
                <label for="bornDate">Fecha de nacimiento</label required>
                <input type="date" name="bornDate" id="bornDate" value="<%= userData.bornDate %>" >
            </div>
            
            <div class="elemento-formulario">
                <label for="address">Domicilio</label>
                <input type="text" name="address" id="address" placeholder="Calle Falsa 123" class="campo-formulario" required minlength="7" maxlength="30" value="<%= userData.address %>">                
            </div>

            <div class="elemento-formulario">
                <label for="email">Domicilio</label>
                <input type="email" name="email" id="email" placeholder="yosoy@email.com" class="campo-formulario" required minlength="7" maxlength="30" value="<%= userData.email %>">                
            </div>
            
            <div class="elemento-formulario">
                <label>Perfil del usuario </label>
                <div class="checkbox" id="radio">
                    <div>
                        <label for="comprador">
                            <input type="radio" name="perfil" checked id="comprador" value="comprador" >
                            Comprador
                        </label>
                    </div>
                    <div>
                        <label for="vendedor">
                            <input type="radio" name="perfil" id="vendedor" value="vendedor">
                            Vendedor
                        </label>
                    </div>
                </div>

            </div>

            <div class="elemento-formulario">
                <label>Categorías de interés</label>
                
                    <div class="checkbox">                
                        <input type="checkbox" name="intereses" value="electro" id="electro"></input>
                        <label for="electro">Electro</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" name="intereses" value="moda" id="moda"></input>
                        <label for="moda">Moda</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" name="intereses" value="hogar" id="hogar"></input>
                        <label for="hogar">Hogar</label>
                    </div>

                    <div class="checkbox">    
                        <input type="checkbox" name="intereses" value="jugueteria" id="jugueteria"></input>
                        <label for="jugueteria">Juguetería</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" name="intereses" value="vida-sana" id="vida-sana"></input>
                        <label for="vida-sana">   Vida sana</label>
                    </div>
                </select>
            </div>

            <div class="elemento-formulario">
                <label>Foto de usuario</label>
                <input type="file" name="avatar" accept=".jpg, .bmp, .png" class="avatar">
            </div>

            <div class="elemento-formulario">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" class="campo-formulario" required minlength="8">
                
            </div>
            
            <div class="elemento-formulario">
                <label for="confirmar">Confirmar contraseña</label>
                <input type="password" name="confirmar" id="confirmar" class="campo-formulario" required minlength="8">
                
            </div>

            <button class="boton-formulario">Enviar</button>
            <button type="reset" class="boton-formulario">Borrar</button>

        </form>
    </main>
    
    <br>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>